
*{
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    padding: 8px 20px;
}

.nav div {
    margin-left: 20px;
}

.nav img {
    width: 20px;
    height: auto;
}

.header {
    height: 400px;
    overflow: hidden;
}

.header-img {
    width: 98%;
    border-radius: 10px;
}